/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/



* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #21222A;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.header {
  display:block;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%; /* Ensures it spans the full width */
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
  margin: 0; /* Removes any default margin */
}


nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav > img {
  width: 40px;
  margin-right: 7px;
}

nav > span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

.list-main {
  margin-top: 46px;
  max-width: 600px;
  text-align: left;
}

.list-main li{
  padding-block: 10px; /*adds padding up and down? see margin-block too*/
  line-height: 19px;
}

.list-main li::marker{ /* ::marker to modify the bullets*/
  color: #61DAFB;
  font-size: 1.6rem;
}

main{
  padding: 60px 30px;
  background-image: url(/home/nabil/personalProjects/todo-list/src/assets/react.svg); /*add background image*/
  background-repeat:no-repeat;
  background-position-x: right;
  background-position-y: 70%;
}